@font-face {
  font-family:"Ubuntu-bold", sans-serif;
  src: url(../Font/Ubuntu-Bold.ttf);
  font-weight:700;
  font-display: swap;}

@font-face {
  font-family:"Ubuntu-regular", sans-serif;
  src: url(../Font/Ubuntu-Regular.ttf);
  font-weight:400;
  font-display: swap;}

html{
  height: 100%;}

body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url(../Image/Fon1.png);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:"Ubuntu-regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;}

header{
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 79px;
  justify-content: space-between;
  align-items: center;}

.header-left{
  font-family:"Ubuntu-bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;  
  margin: 18px 0;}

.header-icons{
  display: flex;
  align-items: flex-end;}

.calendar{
  margin-right: 27px;}

.envelop{
  margin-right: 24px;}

.compass{
  margin-right: 53px;}

.header-text{
  position: relative;
  align-self: center;
  color: #FFFFFF;  }

.header-text::before{
  position: absolute;
  content: '';
  left: -27px;
  top: -2.5px;
  width: 1px;
  height: 19px;
  background-color:rgba(255, 255, 255, 0.9);
  opacity: 0.5;}

.log-sign{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;}

.header-left:hover{
  color: #3CB878;}

.header-icons:hover .header-text::before{
  opacity: 0.1;}

.calendar:hover path{
  fill:#3CB878}

.envelop:hover path{
  fill:#3CB878}

.compass:hover path{
  fill:#3CB878}

.log-sign:hover{
  color: #3CB878;}

main{
  display: flex;
  justify-content:center;
  align-items: center;
  height: calc(100% - 58px);}

.form{
  margin: 54px auto;
  padding: 31px 60px 38px 60px;
  width: 444px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  box-sizing: border-box;}

.form-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;}

.sign-up-form{
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #434343;}

.log-in-form{
  text-decoration: none;
  color: #3CB878;}

.log-in-form:hover {
  text-decoration: underline;
  color: #01813F;}

.sign-up-form::before{
  position: absolute;
  content: '';
  left: -60px;
  width: 18px;
  height: 18px;
  background-color:#3CB878;}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;}

.btn{
  display: flex;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: none;
  align-items: center;
  padding: 0;
  justify-content: center;
  align-items: center; }

.btn-facebook{
  background-color:#305DB8;}

.f-img{
  width: 12.46px;
  height: 24px;
  padding-right: 38px;}

.btn-text{
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;}

.facebook-text::before{
  position: absolute;
  content:'' ;
  left: -18px;
  top: -6px;
  width: 1px;
  height: 28px;
  background-color: #0A162F;
  opacity: 0.1;}

.btn-google{
  background-color:#DF4A32;}

.g-img{
  width: 30px;
  height: 19px;
  padding-right: 38px;}

.google-text::before{
  position: absolute;
  content:'' ;
  left: -30px;
  top: -6px;
  width: 1px;
  height: 28px;
  background-color: #2B0D09;
  opacity: 0.1;}

.btn-facebook:hover{
  background-color: #022263;
  cursor: pointer;}

.btn-google:hover{
  background-color: #AB1F09;
  cursor: pointer;}

.or{
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 11px;
  color: #848484;}

.or::after, .or::before{
  position: absolute;
  content: '';
  top: 7px;
  width: 154.5px;
  height: 1px;
  background-color: #F2F2F2;}

.or::after{
  left: 0;}

.or::before{
  right: 0;}

.input-field{
  width: 100%;  
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 13.61px 20px;
  border: 1px solid #F2F2F2;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;}

.input-field::placeholder{
  color: #BEBEBE;}

.input-field:focus{
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.92);
  outline: none;
  color: #434343;}

.checkbox-wrapp{
  display: flex;
  align-items: center;
  color: #434343;
  cursor: pointer;
  user-select: none;}

.checkbox{
  display: none;}

.custom-check{ 
  display: flex; 
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  background: rgba(0, 0, 0, 0.0001);  
  margin-right: 8px;}

.check-mark{  
padding: 1px 1.5px 1px 1.5px;}

.checkbox-green{  
  color: #3CB878;
  text-decoration: none;}

.check-mark:hover path{
  stroke:#01813F;}

.checkbox-green:hover{
  color: #01813F;
  text-decoration: underline;}

.checkbox:checked~.custom-check .check-mark{
  display: none;}

.button-create{ 
  width: 100%;
  background: rgba(60, 184, 120, 0.8);  
  border-radius: 4px;
  border: none;  
  padding: 16px 0;
  margin-top: 20px;
  color:#FFFFFF ;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;}

.button-create:hover{
  background: #01813F;}